@using System.Globalization
@using System.Web.UI.WebControls
@model Blog.WebUI.Areas.AdminPanel.ViewModels.PostIndexViewModel

<h3 class="col h3">Create Posts</h3>
@if (!string.IsNullOrEmpty(ViewBag.message))
{
@section Scripts
{

    <script>

        $(document).ready(function() {
            alertbox("@ViewBag.title", "@ViewBag.message");
        });

    </script>
}}
@{
    string action = ViewBag.IsNew ? "createpost" : "update";
    string button = ViewBag.IsNew ? "Create" : "Update";
}

@*@using (Html.BeginForm(null, null, FormMethod.Posts, new { @class = "form-panel" }))*@

<form class="form-panel" action="@Url.Action(action)" method="post">



    @{
        @Html.AntiForgeryToken()
        if (!ViewBag.IsNew)
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsActive)
            @Html.HiddenFor(x => x.Views)
            @Html.HiddenFor(x => x.CreatedAt)
            @Html.HiddenFor(x => x.UpdatedAt, new {Value = DateTime.Now.ToString("F")})
        }


        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Title)

            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.SelectedTags)
                @Html.ListBoxFor(x => x.SelectedTags, (MultiSelectList) ViewBag.tags, new {@class = "form-control" })
                @Html.ValidationMessageFor(x => x.SelectedTags)

            </div>

            <div class="form-group">

                @Html.LabelFor(x => x.Slug)
                @Html.TextBoxFor(x => x.Slug, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Slug)


            </div>


            <div class="form-group">

                @Html.LabelFor(x => x.Content)
                @Html.ValidationMessageFor(x => x.Content)
                @Html.TextAreaFor(x => x.Content, new {@class = "form-control"})


            </div>


            <div class="form-group">
                <div class="col-sm-4"></div>


                <button class="btn btn-default btn-primary" type="submit">@button Post</button>
                <button class="btn btn-default btn-warning" type="reset">Reset</button>
                <button href="@Url.Action("Posts")" class="btn btn-default btn-danger">Cancel</button>

            </div>


        </div>
    }
</form>

<script src="@Url.Content("~/Areas/AdminPanel/Assets/ckeditor/ckeditor.js")"></script>

@section Scripts
{
  <script>
      $("#SelectedTags").select2({
            tags: true
        });

</script>
}
<script>
    
    CKEDITOR.replace('Content',
    {
        filebrowserImageBrowseUrl: '/adminpanel/posts/uploadpartial',
        filebrowserImageUploadUrl: '/adminpanel/posts/uploadnow'
    });


    function updateValue(url) {
        var dialog = CKEDITOR.dialog.getCurrent();
        dialog.setValueOf('info', 'txtUrl', url);
    }

    function alertbox(title, msg) {

        $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: title,
            text: msg
            // (string | mandatory) the text inside the notification
        });

        return false;
    };


</script>