@using System.Web.UI.WebControls
@model  Blog.Models.Post

<h3 class="col h3">Create Post</h3>

@using (Html.BeginForm("CreatePost", "Posts", FormMethod.Post, new { @class = "form-panel" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })


        </div>
       
        <div class="form-group">
            
            @Html.LabelFor(x => x.Slug)
            @Html.TextBoxFor(x => x.Slug, new { @class = "form-control" })


        </div>
        

        <div class="form-group">
            
            @Html.LabelFor(x => x.Content)
            @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })


        </div>
        
        
        <div class="form-group">
            <div class="col-sm-5"></div>
            <button class="btn btn-default btn-primary" type="submit">Create Form</button>
            <button class="btn btn-default btn-warning" type="reset">Reset</button>
            <button class="btn btn-default btn-danger">Cancel</button>

        </div>



    </div>
}


<script src="@Url.Content("~/Areas/AdminPanel/Assets/ckeditor/ckeditor.js")"></script>

<script>
    CKEDITOR.replace('Content', {
        filebrowserImageBrowseUrl: '/adminpanel/posts/uploadpartial',
        filebrowserImageUploadUrl: '/adminpanel/posts/uploadnow'
    });



    function updateValue(url) {
        var dialog = CKEDITOR.dialog.getCurrent();
        dialog.setValueOf('info', 'txtUrl', url);
    }
    
</script>


