@model IEnumerable<Blog.Models.User>

@Html.AntiForgeryToken()
<h1>Users</h1>

<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">

            &nbsp;&nbsp;<a href="@Url.Action("Index", "Auth")" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Create User </a>
            <hr />
            <table class="table table-striped table-advance table-hover">


                <thead>
                    <tr>
                        <th> User Name</th>
                        <th> Roles</th>
                        <th> Created At</th>
                        <th> Last Login</th>
                        <th> Status</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td class="hidden-phone">@string.Join(",", user.Roles.Select(x=>x.Name))</td>
                            <td class="hidden-phone">@user.CreatedAt.ToString("F")</td>
                            <td class="hidden-phone">
                                @if (user.LoginAt != null)
                                {
                                    @user.LoginAt.Value.ToString("F")
                                }
                                else
                                {
                                    @Html.Raw("")

                                }
                            </td>
                           
                            
                            @* edit for showing online users *@
                            @*@if (user.)
                            {
                                <td><a href="@Url.Action("Status",new {user.Id, status = false} )" class="btn btn-success btn-xs"><i class="fa fa-unlock"></i>&nbsp;Active</a></td>

                            }
                            else
                            {
                                <td><a href="@Url.Action("Status", new {user.Id,status = true } )" class="btn btn-danger btn-xs"><i class="fa fa-lock"></i>&nbsp;Deactive</a></td>
                            }*@
                            <td></td>
                            <td>
                                <a href="@Url.Action("Edit",new {user.Id} )" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                <a href="@Url.Action("Delete",new {user.Id} )" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i>&nbsp;Delete</a>
                            </td>
                        </tr>
                    }




                </tbody>
            </table>
        </div><!-- /content-panel -->
    </div><!-- /col-md-12 -->
</div>