@model List<Blog.Models.Post>
@section SeoRender{

    <title>Tag @ViewBag.tag</title>
    <meta name="keyword" content="@ViewBag.tag">
    <meta name="description" content="These Posts are about @ViewBag.tag">
    <meta name="author" content="Usman Fareed">
}

@Html.Partial("_Posts")

@section Scripts
{
    <script>
        var hasMoreRecords = true;

        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() + 1 >= $(document).height() - $(window).height()) {
                    FetchDataFromServer();


                }

            });


        });

        var skipCount = 5;
        var takeCount = 5; // return new 5 records

        function FetchDataFromServer() {
            if (!hasMoreRecords) {
                return;
            }
            $.ajax({
                url: '@Url.Action("Tag", "Home")',
                method: 'GET',
                data: { skipCount: skipCount, takeCount: takeCount },
                datatype: 'html',
                success: function(data) {
                    if (data === "") {
                        hasMoreRecords = false; // signal no more records to display

                    } else {
                        var item = $(data).hide().fadeIn(1500);
                        $("#body").append(item);
                        if (skipCount !== 0) {
                            $('html,body').animate({
                                    scrollTop: $(window).scrollTop() + 500
                                },
                                1000);
                        }


                        skipCount += takeCount; // update for next iteration

                    }
                },
                error: function() {
                    alert("error");
                }
            });
        }


    </script>
}