<div class="col-md-8">
    <div class="content">
        <div class="index-slider">
            <div class="col-md-7">
                <a href="post.html">
                    <div class="index-slider-left" style="background-image:url('@Url.Content("~/Assets/images/woman-1129248.jpg") ')">
                        <div class="index-slider-left-text">
                            <h3>Nulla pariatur ex cepteur sint occa cupidatat non proi dent sunt in</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <div class="index-slider-right">
                    <a href="post.html">
                        <div class="slider-right-one" style="background-image:url('@Url.Content("~/Assets/images/almond-blossom-1229138.jpg") ')">
                            <div class="slider-right-one-text">
                                <h3>Sed do eiusmod tempor incidi dunt ut labore et dolore magna.</h3>
                            </div>
                        </div>
                    </a>
                    <a href="post.html">
                        <div class="slider-right-two" style="background-image:url('@Url.Content("~/Assets/images/alcedo-atthis-881594.jpg") ')">
                            <div class="slider-right-two-text">
                                <h3>Sed do eiusmod tempor incidi dunt ut labore et dolore magna.</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <article class="list-article" itemscope itemtype="http://schema.org/Article">
            <a href="post.html">
                <div class="article-image" style="background-image:url('@Url.Content("~/Assets/images/girl-1262801.jpg") ')"></div>
            </a>
            <div class="article-text">
                <a href="post.html">
                    <h2 itemprop="name">Nulla pariatur ex cepteur sint occa cupidatat non proi dent sunt in</h2>
                </a>
                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="post.html" class="read-more-a" itemprop="url"><i class="fa fa-file-text-o read-more-btn"></i>Read More...</a>
            </div>
        </article>
        <article class="list-article" itemscope itemtype="http://schema.org/Article">
            <a href="post.html">
                <div class="article-image" style="background-image:url('@Url.Content("~/Assets/images/sunglasses-635269.jpg") ')"></div>
            </a>
            <div class="article-text">
                <a href="post.html">
                    <h2 itemprop="name">Nulla pariatur ex cepteur sint occa cupidatat non proi dentar sus cipit</h2>
                </a>
                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="post.html" class="read-more-a" itemprop="url"><i class="fa fa-file-text-o read-more-btn"></i>Read More...</a>
            </div>
        </article>
        <article class="list-article" itemscope itemtype="http://schema.org/Article">
            <a href="post.html">
                <div class="article-image" style="background-image:url('@Url.Content("~/Assets/images/apples-635239.jpg") ')"></div>
            </a>
            <div class="article-text">
                <a href="post.html">
                    <h2 itemprop="name">Nulla pariatur ex cepteur sint occa cupidatat non proi dentar sus cipit</h2>
                </a>
                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="post.html" class="read-more-a" itemprop="url"><i class="fa fa-file-text-o read-more-btn"></i>Read More...</a>
            </div>
        </article>
        <article class="list-article" itemscope itemtype="http://schema.org/Article">
            <a href="post.html">
                <div class="article-image" style="background-image:url('@Url.Content("~/Assets/images/girl-711087.jpg") ')"></div>
            </a>
            <div class="article-text">
                <a href="post.html">
                    <h2 itemprop="name">Nulla pariatur ex cepteur sint occa cupidatat non proi dentar sus cipit</h2>
                </a>
                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="post.html" class="read-more-a" itemprop="url"><i class="fa fa-file-text-o read-more-btn"></i>Read More...</a>
            </div>
        </article>
        <article class="list-article" itemscope itemtype="http://schema.org/Article">
            <a href="post.html">
                <div class="article-image" style="background-image:url('@Url.Content("~/Assets/images/girl-1219339.jpg") ')"></div>
            </a>
            <div class="article-text">
                <a href="post.html">
                    <h2 itemprop="name">Nulla pariatur ex cepteur sint occa cupidatat non proi dentar sus cipit</h2>
                </a>
                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="post.html" class="read-more-a" itemprop="url"><i class="fa fa-file-text-o read-more-btn"></i>Read More...</a>
            </div>
        </article>
        <article class="list-article" itemscope itemtype="http://schema.org/Article">
            <a href="post.html">
                <div class="article-image" style="background-image:url('@Url.Content("~/Assets/images/young-woman-635249.jpg") ')"></div>
            </a>
            <div class="article-text">
                <a href="post.html">
                    <h2 itemprop="name">Nulla pariatur ex cepteur sint occa cupidatat non proi dentar sus cipit</h2>
                </a>
                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="post.html" class="read-more-a" itemprop="url"><i class="fa fa-file-text-o read-more-btn"></i>Read More...</a>
            </div>
        </article>
        <div class="pagination">
            <ul>
                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-4">
    <aside>
        <div class="search hidden-xs hidden-sm">
            <input type="text" class="search-input" placeholder="SEARCH">
            <a href="#">
                <div class="search-btn"><i class="fa fa-search"></i></div>
            </a>
        </div>
        <div class="about-me">
            <div class="about-me-content">
                <div class="about-me-avatar" style="background-image:url('@Url.Content("~/Assets/images/author-avatar.jpg") ');"></div>
                <h2>Ahad Ghaderi</h2>
                <h5>Web Developer</h5>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <ul class="about-me-social">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="content-box hidden-sm hidden-xs">
            <div class="content-box-head">
                <h3>CATEGORY</h3>
                <i class="fa fa-bars content-box-head-icon orange-color"></i>
            </div>
            <div class="categories content-box-body">
                <ul>
                    <li>
                        <a href="category.html">
                            <div class="rectangle-list-style"></div>
                            Design
                        </a>
                        <ul>
                            <li><a href="category.html">Web Design</a></li>
                            <li><a href="category.html">Responsive</a></li>
                            <li><a href="category.html">Typography</a></li>
                            <li><a href="category.html">Inspiration</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">
                            <div class="rectangle-list-style"></div>
                            Mobile
                        </a>
                        <ul>
                            <li><a href="category.html">iPhone & iPad</a></li>
                            <li><a href="category.html">Android</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">
                            <div class="rectangle-list-style"></div>
                            Coding
                        </a>
                        <ul>
                            <li><a href="category.html">CSS</a></li>
                            <li><a href="category.html">HTML</a></li>
                            <li><a href="category.html">JavaScript</a></li>
                            <li><a href="category.html">PHP</a></li>
                            <li><a href="category.html">Techniques</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-box">
            <div class="content-box-head">
                <h3>POPULAR</h3>
                <i class="fa fa-star content-box-head-icon yellow-color"></i>
            </div>
            <div class="popular content-box-body">
                <ul>
                    <li>
                        <a href="post.html">
                            <div class="rectangle-list-style"></div>
                            <p>Quis nostrud exerci tation ullam corper suscipit lobortis nisl ut aliquip ex ea commodo con.</p>
                        </a>
                    </li>
                    <li>
                        <a href="post.html">
                            <div class="rectangle-list-style"></div>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        </a>
                    </li>
                    <li>
                        <a href="post.html">
                            <div class="rectangle-list-style"></div>
                            <p>Lobortis nisl ut aliquip ex ea commodo vulputate suscipit lobortis nisl ut.</p>
                        </a>
                    </li>
                    <li>
                        <a href="post.html">
                            <div class="rectangle-list-style"></div>
                            <p>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio .</p>
                        </a>
                    </li>
                    <li>
                        <a href="post.html">
                            <div class="rectangle-list-style"></div>
                            <p>Blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-box">
            <div class="content-box-head">
                <h3>TWITTER</h3>
                <i class="fa fa-twitter content-box-head-icon blue-color"></i>
            </div>
            <div class="twitter-box content-box-body">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter gray-color"></i>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter gray-color"></i>
                            <p>nostrud exerci tation ullamcor per suscipit lobortis nisl ut aliquip ex ea commodo cons.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter gray-color"></i>
                            <p>dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt.</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-box">
            <div class="content-box-head">
                <h3>INSTAGRAM</h3>
                <i class="fa fa-instagram content-box-head-icon darkblue-color"></i>
            </div>
            <div class="instagram-box content-box-body">
                <div id="owl-demo" class="owl-carousel">
                    <div class="item"><img class="lazyOwl" data-src="@Url.Content("~/Assets/images/woman-1369253.jpg") ');" alt="Lazy Owl Image"></div>
                    <div class="item"><img class="lazyOwl" data-src="@Url.Content("~/Assets/images/girl-with-flowers-1374221.jpg") ');" alt="Lazy Owl Image"></div>
                    <div class="item"><img class="lazyOwl" data-src="@Url.Content("~/Assets/images/ladybug-1324398.jpg") ');" alt="Lazy Owl Image"></div>
                    <div class="item"><img class="lazyOwl" data-src="@Url.Content("~/Assets/images/fashion-1063100.jpg") ');" alt="Lazy Owl Image"></div>
                </div>
                <div class="instagram-avatar" style="background-image:url('@Url.Content("~/Assets/images/instagram-avatar.jpg") ');"></div>
                <a href="#" class="instagram-user-link">PhotoInsta</a>
            </div>
        </div>
    </aside>
</div>

